html{
   box-sizing: border-box;
}
*,
*::after,
*::before{
   box-sizing: inherit;
}
body{
   background-color: red;
}
a{
   display: inline-block;
}
ul,
li{
   margin: 0;
   margin: 0;
   list-style: none;
}

body{

}

.container{
   
}